{
    "rabbitmq_host": "ec2-52-53-244-237.us-west-1.compute.amazonaws.com",
    "rabbitmq_port": 5672,
    "grpc_addr" : "ec2-52-53-244-237.us-west-1.compute.amazonaws.com:50052",
    "default_build_opt": 1,
    "compiler": "v143",
    "library": "x64",
    "build_mode": "Debug",
    "optimization": "Od",
    "random_pick": 0,
    "clone_proxy": [],
    "clone_proxy_token":"syracuse"
}

